[functions]
  directory = "netlify/functions"
  node_bundler = "esbuild"
  external_node_modules = ["@octokit/rest"]

[build]
  command = "npm install"

# Redirect /s/* to index.html so client-side routing works
[[redirects]]
  from = "/s/*"
  to = "/index.html"
  status = 200
